h1{
    text-shadow: 10px -10px 5px violet;
}
#txt1{
    box-shadow: 0 0 20px red;
}
p{
    box-shadow: -10px 10px 5px green;
}
#container{
    width: 100vw;
    height: 100vh;
    background: violet;

    display: flex;
    justify-content: center;
    align-items: center;
}
#maSuperBox{
    width: 500px;
    height: 300px;
    background: powderblue;
    box-shadow: -10px -10px 15px 10px white,
                10px 10px 15px 10px black;
}